In [3]:
import pandas as pd

In [5]:
catalogo=pd.read_csv(r'/home/daro40/Documentos/catalogo.csv')
renglones=pd.read_csv(r'/home/daro40/Documentos/renglones.csv')

In [6]:
catalogo.head()

,id_catalogo_bien_servicio,id_catalogo_bien_servicio_padre,codigo,codigo_completo,nombre,nivel,id_bien_servicio_tipo,estado,revision,id_arai,sincronizar
0,5987,5865.0,2,3.1.2.00000,AGUA,3,S,AC,NaN,NaN,N
1,10002573,5953.0,5664,2.5.1.05664,AMONIO,4,C,AC,NaN,NaN,N
2,10002574,5953.0,5665,2.5.1.05665,SODIO,4,C,AC,NaN,NaN,N
3,10002575,5953.0,5666,2.5.1.05666,SODIO,4,C,AC,NaN,NaN,N
4,10003480,5973.0,727,2.7.9.00727,CERROJO,4,C,AC,NaN,NaN,N

In [ ]:
renglones.head()
renglones.info()

In [40]:
df_renglones=renglones.loc[:,['descripcion','rubro','id_catalogo_bien_servicio']]

In [46]:
df_renglones=df_renglones.dropna()

In [47]:
df_renglones['id_catalogo_bien_servicio']=df_renglones['id_catalogo_bien_servicio'].astype(int)