In [68]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [5]:
catalogo=pd.read_csv(r'/home/daro40/Documentos/catalogo.csv')
renglones=pd.read_csv(r'/home/daro40/Documentos/renglones.csv')

In [6]:
catalogo.head()

,id_catalogo_bien_servicio,id_catalogo_bien_servicio_padre,codigo,codigo_completo,nombre,nivel,id_bien_servicio_tipo,estado,revision,id_arai,sincronizar
0,5987,5865.0,2,3.1.2.00000,AGUA,3,S,AC,NaN,NaN,N
1,10002573,5953.0,5664,2.5.1.05664,AMONIO,4,C,AC,NaN,NaN,N
2,10002574,5953.0,5665,2.5.1.05665,SODIO,4,C,AC,NaN,NaN,N
3,10002575,5953.0,5666,2.5.1.05666,SODIO,4,C,AC,NaN,NaN,N
4,10003480,5973.0,727,2.7.9.00727,CERROJO,4,C,AC,NaN,NaN,N

In [ ]:
renglones.head()
renglones.info()

In [40]:
df_renglones=renglones.loc[:,['descripcion','rubro','id_catalogo_bien_servicio']]

In [46]:
df_renglones=df_renglones.dropna()

In [47]:
df_renglones['id_catalogo_bien_servicio']=df_renglones['id_catalogo_bien_servicio'].astype(int)

In [51]:
catalogo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7518 entries, 0 to 7517
Data columns (total 11 columns):
id_catalogo_bien_servicio          7518 non-null int64
id_catalogo_bien_servicio_padre    7514 non-null float64
codigo                             7518 non-null int64
codigo_completo                    7518 non-null object
nombre                             7518 non-null object
nivel                              7518 non-null int64
id_bien_servicio_tipo              7518 non-null object
estado                             7518 non-null object
revision                           0 non-null float64
id_arai                            0 non-null float64
sincronizar                        7518 non-null object
dtypes: float64(3), int64(3), object(5)
memory usage: 646.2+ KB

In [53]:
df_combinado=pd.merge(df_renglones,catalogo)

In [56]:
df_combinado.head()

,descripcion,rubro,id_catalogo_bien_servicio,id_catalogo_bien_servicio_padre,codigo,codigo_completo,nombre,nivel,id_bien_servicio_tipo,estado,revision,id_arai,sincronizar
0,PELOTA FUTSAL N° 4,73,10001570,5985.0,2448,2.9.9.02448,PELOTA,4,C,AC,NaN,NaN,N
1,PELOTAS DE MEDIO PIQUE N° 4,73,10001570,5985.0,2448,2.9.9.02448,PELOTA,4,C,AC,NaN,NaN,N
2,PELOTAS DE HANDBALL N° 1,73,10001570,5985.0,2448,2.9.9.02448,PELOTA,4,C,AC,NaN,NaN,N
3,PELOTAS DE VOLEY - OFICIAL PINTIER CUERO,73,10001570,5985.0,2448,2.9.9.02448,PELOTA,4,C,AC,NaN,NaN,N
4,PELOTA DE HANDBALL - MARCA PENALTY N°1,73,10001570,5985.0,2448,2.9.9.02448,PELOTA,4,C,AC,NaN,NaN,N

In [59]:
df_combinado_cols=df_combinado.loc[:,['descripcion','rubro','id_catalogo_bien_servicio','id_catalogo_bien_servicio_padre','codigo','codigo_completo','nombre','nivel','id_bien_servicio_tipo','estado']]

In [62]:
df_combinado_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1204 entries, 0 to 1203
Data columns (total 10 columns):
descripcion                        1204 non-null object
rubro                              1204 non-null int64
id_catalogo_bien_servicio          1204 non-null int64
id_catalogo_bien_servicio_padre    1204 non-null float64
codigo                             1204 non-null int64
codigo_completo                    1204 non-null object
nombre                             1204 non-null object
nivel                              1204 non-null int64
id_bien_servicio_tipo              1204 non-null object
estado                             1204 non-null object
dtypes: float64(1), int64(4), object(5)
memory usage: 103.5+ KB

In [64]:
X=df_combinado.loc[:,['descripcion']]

In [66]:
y=df_combinado.loc[:,'id_catalogo_bien_servicio']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [74]:
knn = KNeighborsClassifier(n_neighbors=7)

In [77]:
knn.fit(X_train,y_train)

ValueError: could not convert string to float: 'KIT DE ENFERMERÍA - Incluye: Tensiómetro aneroide manual (con estetoscopio), termómetro digital y presentacion (packaging) de KIT: Indistinto.'

In [78]:
print(knn.score(X_test, y_test))

ValueError: could not convert string to float: 'Caño Cloacal'